.vscode/settings.json

# Python artifacts
__pycache__/
*.py[cod]
*.so

# pytest/cache
.pytest_cache/

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

pipeline_execution.log

index.html

